.cartBody
{
    border-style: solid;
    border-color: grey;
    background-color: rgb(247, 231, 167);
    margin: 10px;
    padding: 5px;
    display: inline-block;
}

.cartDeleteBottom
{
    background-color: rgb(240, 132, 132);
}

.cartBuyBottom
{
    background-color: rgb(127, 216, 127)
}

.cartPIBody
{
    border-style: solid;
    border-color: grey;
    margin: 10px;
    padding-bottom: 16px;
    padding-right: 16px;
    display: inline-block;
}

.cartLabel
{
    margin: 16px;
}